@use 'variables';

html {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    min-height: 100vh;
    font-family: "Titillium Web", sans-serif;
    color: var(--white);
}
p,
h1,
h2,
h3 {
    margin: 0;
    padding: 0;
}

.main {
    flex-direction: column;
    gap: 2rem;
    align-items: flex-start;
}

.small {
    font-size: 1rem;
    font-weight: 500;
}

.title {
    font-weight: 200;
    font-size: 1.2rem;
    color: var(--gray);
}

.l-flex {
    display: flex;
}

.data {
    margin-top: 3rem;
    margin-left: 3rem;
    &__city {
        font-size: 3rem;
    }
    &__temp {
        font-size: 4.5rem;
    }
    &__weather {
        letter-spacing: 2px;
        font-weight: 200;
        font-size: 1.3rem;
    }
    &__value {
        font-size: 1.8rem;
    }
    & > div:not(:last-child) {
        padding-bottom: 0.5rem;
    }
}

.search-form {
    margin-left: 3rem;
}

.icon {
    fill: var(--primary);
}

.btn {
    color: var(--white);
    background: var(--primary);
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    padding: 0.5rem 0.8rem;
    transition: background 0.3s ease;
    &:hover {
        background: var(--primary-hover);
    }
}

.search-city {
    border: 0;
    border-bottom: 2px solid var(--primary);
}

.temp-symbol--main {
    position: relative;
    top: 0.8em;
}

.search-form {
    gap: 0.5rem;
    align-items: center;
    background: var(--white);
    padding: 0.5rem 1rem;
    border-radius: 20px;
    line-height: 0;
}

@media only screen and (max-width: 700px) {
    .data {
        margin-left: 0;
    }
    .main {
        align-items: center;
    }
    .search-form {
        margin-left: 0;
    }
}

.rain,
.drizzle {
    background-image: url("../rainy.svg");
    background-attachment: fixed;
    background-size: cover;
}

.snow {
    background-image: url("../snow.svg");
    background-attachment: fixed;
    background-size: cover;
}

.clear,
.sunny {
    background-image: url("../clear.svg");
    background-attachment: fixed;
    background-size: cover;
}

.clouds {
    background-image: url("../cloudy.svg");
    background-attachment: fixed;
    background-size: cover;
}

.thunderstorm {
    background-image: url("../thunderstorm.svg");
    background-attachment: fixed;
    background-size: cover;
}

.default {
    background-image: url("../default.svg");
    background-attachment: fixed;
    background-size: cover;
}

.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.printMsg {
    position: absolute;
    right: 0;
    top: 0;
    padding: 2rem 4rem;
    margin: 2rem;
    background: var(--printMsgColor);
    font-size: 1.1rem;
    color: var(--printTextColor, var(--bg));
    font-weight: bold;
    border-radius: 1rem;
    opacity: 0;
    transition: opacity 0.2s ease, transform 0.4s ease;
    transform: translateY(-200%);
    &.fadeIn-up {
        transform: translateY(0);
        opacity: 1;
    }

    &::before {
        content: "";
        position: absolute;
        top: -60px;
        left: 50%;
        margin-left: -2rem;
        border-width: 2rem;
        border-style: solid;
        border-color: var(--printMsgColor) transparent transparent transparent;
        transform: rotate(180deg);
    }
}

@media only screen and (max-width: 700px) {
    .printMsg {
        padding: 0.5rem 1rem;
        font-size: 1rem;
        margin: 1rem;
        &::before {
            border-width: 1rem;
            margin-left: -1rem;
            top: -30px;
            left: 50%;
        }
    }
}
