@use 'variables';

html {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    min-height: 100vh;
    font-family: "Titillium Web", sans-serif;
    color: var(--white);
}
p,
h1,
h2,
h3 {
    margin: 0;
    padding: 0;
}

.small {
    font-size: 1rem;
    font-weight: 500;
}

.normal {
    font-size: 1.5rem;
}

.l-flex {
    display: flex;
}

.data {
    &__city {
        font-size: 3rem;
    }
    &__temp {
        font-size: 4rem;
    }
    &__feels-like {
    }
}

.rain {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='100%25' height='100%25' preserveAspectRatio='none' viewBox='0 0 1440 560'%3E%3Cg mask='url(&quot;%23SvgjsMask1169&quot;)' fill='none'%3E%3Crect width='1440' height='560' x='0' y='0' fill='%230e2a47'%3E%3C/rect%3E%3Cpath d='M1236 362L1235 704' stroke-width='4' stroke='url(%23SvgjsLinearGradient1170)' stroke-linecap='round' class='Down' style='--rain-duration: 1.6s'%3E%3C/path%3E%3Cpath d='M735 403L734 155' stroke-width='3' stroke='url(%23SvgjsLinearGradient1170)' stroke-linecap='round' class='Down' style='--rain-duration:0.9s'%3E%3C/path%3E%3Cpath d='M881 294L880 36' stroke-width='8' stroke='url(%23SvgjsLinearGradient1170)' stroke-linecap='round' class='Down' style='--rain-duration:1.10s'%3E%3C/path%3E%3Cpath d='M1434 128L1433 315' stroke-width='2' stroke='url(%23SvgjsLinearGradient1170)' stroke-linecap='round' class='Down' style='--rain-duration:1.5s'%3E%3C/path%3E%3Cpath d='M651 392L650 573' stroke-width='4' stroke='url(%23SvgjsLinearGradient1170)' stroke-linecap='round' class='Down' style='--rain-duration:1s'%3E%3C/path%3E%3Cpath d='M1173 17L1172 -376' stroke-width='6' stroke='url(%23SvgjsLinearGradient1170)' stroke-linecap='round' class='Down' style='--rain-duration:1.2s'%3E%3C/path%3E%3Cpath d='M395 529L394 149' stroke-width='4' stroke='url(%23SvgjsLinearGradient1170)' stroke-linecap='round' class='Down' style='--rain-duration:1.14s'%3E%3C/path%3E%3Cpath d='M151 178L150 496' stroke-width='3' stroke='url(%23SvgjsLinearGradient1170)' stroke-linecap='round' class='Down' style='--rain-duration:1.41s'%3E%3C/path%3E%3Cpath d='M597 141L596 393' stroke-width='6' stroke='url(%23SvgjsLinearGradient1059)' stroke-linecap='round' class='Down' style='--rain-duration:1.05s'%3E%3C/path%3E%3Cpath d='M540 537L539 707' stroke-width='2' stroke='url(%23SvgjsLinearGradient1059)' stroke-linecap='round' class='Down' style='--rain-duration:1.16s'%3E%3C/path%3E%3Cpath d='M25 238L24 560' stroke-width='6' stroke='url(%23SvgjsLinearGradient1170)' stroke-linecap='round' class='Down' style='--rain-duration:1.3s'%3E%3C/path%3E%3Cpath d='M1248 178L1247 -227' stroke-width='2' stroke='url(%23SvgjsLinearGradient1170)' stroke-linecap='round' class='Down' style='--rain-duration:1.61s'%3E%3C/path%3E%3Cpath d='M447 280L446 29' stroke-width='4' stroke='url(%23SvgjsLinearGradient1170)' stroke-linecap='round' class='Down' style='--rain-duration:1.13s'%3E%3C/path%3E%3Cpath d='M184 173L183 581' stroke-width='8' stroke='url(%23SvgjsLinearGradient1170)' stroke-linecap='round' class='Down' style='--rain-duration:1.2s'%3E%3C/path%3E%3Cpath d='M1141 354L1140 615' stroke-width='6' stroke='url(%23SvgjsLinearGradient1170)' stroke-linecap='round' class='Down' style='--rain-duration:1.13s'%3E%3C/path%3E%3Cpath d='M979 264L978 491' stroke-width='6' stroke='url(%23SvgjsLinearGradient1170)' stroke-linecap='round' class='Down' style='--rain-duration:1.82s'%3E%3C/path%3E%3Cpath d='M80 403L79 615' stroke-width='8' stroke='url(%23SvgjsLinearGradient1170)' stroke-linecap='round' class='Down' style='--rain-duration:1.61s'%3E%3C/path%3E%3Cpath d='M857 438L856 19' stroke-width='10' stroke='url(%23SvgjsLinearGradient1170)' stroke-linecap='round' class='Down' style='--rain-duration:1.41s'%3E%3C/path%3E%3Cpath d='M1150 516L1149 795' stroke-width='4' stroke='url(%23SvgjsLinearGradient1170)' stroke-linecap='round' class='Down' style='--rain-duration:0.9s'%3E%3C/path%3E%3Cpath d='M1087 12L1086 357' stroke-width='8' stroke='url(%23SvgjsLinearGradient1170)' stroke-linecap='round' class='Down' style='--rain-duration:1.27s'%3E%3C/path%3E%3Cpath d='M171 534L170 746' stroke-width='5' stroke='url(%23SvgjsLinearGradient1170)' stroke-linecap='round' class='Down' style='--rain-duration:1.26s'%3E%3C/path%3E%3Cpath d='M237 43L236 -145' stroke-width='3' stroke='url(%23SvgjsLinearGradient1170)' stroke-linecap='round' class='Down' style='--rain-duration:0.92s'%3E%3C/path%3E%3Cpath d='M523 511L522 919' stroke-width='6' stroke='url(%23SvgjsLinearGradient1170)' stroke-linecap='round' class='Down' style='--rain-duration:1.21s'%3E%3C/path%3E%3Cpath d='M1147 395L1146 745' stroke-width='8' stroke='url(%23SvgjsLinearGradient1170)' stroke-linecap='round' class='Down' style='--rain-duration:1.6s'%3E%3C/path%3E%3Cpath d='M829 523L828 221' stroke-width='4' stroke='url(%23SvgjsLinearGradient1170)' stroke-linecap='round' class='Down' style='--rain-duration:0.85s'%3E%3C/path%3E%3Cpath d='M1401 98L1400 428' stroke-width='8' stroke='url(%23SvgjsLinearGradient1059)' stroke-linecap='round' class='Down' style='--rain-duration:1.21s'%3E%3C/path%3E%3Cpath d='M319 518L318 778' stroke-width='2' stroke='url(%23SvgjsLinearGradient1059)' stroke-linecap='round' class='Down' style='--rain-duration:0.85s'%3E%3C/path%3E%3Cpath d='M520 464L519 147' stroke-width='6' stroke='url(%23SvgjsLinearGradient1170)' stroke-linecap='round' class='Down' style='--rain-duration:1.42s'%3E%3C/path%3E%3Cpath d='M1043 115L1042 374' stroke-width='5' stroke='url(%23SvgjsLinearGradient1170)' stroke-linecap='round' class='Down' style='--rain-duration:1.26s'%3E%3C/path%3E%3Cpath d='M618 22L617 -322' stroke-width='8' stroke='url(%23SvgjsLinearGradient1170)' stroke-linecap='round' class='Down' style='--rain-duration:1.1s'%3E%3C/path%3E%3Cpath d='M551 32L550 425' stroke-width='8' stroke='url(%23SvgjsLinearGradient1170)' stroke-linecap='round' class='Down' style='--rain-duration:1.2s'%3E%3C/path%3E%3Cpath d='M211 37L210 -338' stroke-width='4' stroke='url(%23SvgjsLinearGradient1170)' stroke-linecap='round' class='Down' style='--rain-duration:1.1s'%3E%3C/path%3E%3Cpath d='M1157 324L1156 169' stroke-width='4' stroke='url(%23SvgjsLinearGradient1170)' stroke-linecap='round' class='Down' style='--rain-duration:0.9s'%3E%3C/path%3E%3Cpath d='M1341 527L1340 857' stroke-width='2' stroke='url(%23SvgjsLinearGradient1170)' stroke-linecap='round' class='Down' style='--rain-duration:1.3s'%3E%3C/path%3E%3Cpath d='M1016 473L1015 844' stroke-width='6' stroke='url(%23SvgjsLinearGradient1170)' stroke-linecap='round' class='Down' style='--rain-duration:1.23s'%3E%3C/path%3E%3Cpath d='M1383 408L1382 564' stroke-width='2' stroke='url(%23SvgjsLinearGradient1170)' stroke-linecap='round' class='Down' style='--rain-duration:1.46s'%3E%3C/path%3E%3Cpath d='M594 434L593 643' stroke-width='8' stroke='url(%23SvgjsLinearGradient1170)' stroke-linecap='round' class='Down' style='--rain-duration:1.7s'%3E%3C/path%3E%3Cpath d='M635 490L634 671' stroke-width='4' stroke='url(%23SvgjsLinearGradient1170)' stroke-linecap='round' class='Down' style='--rain-duration:1.12s'%3E%3C/path%3E%3Cpath d='M607 364L606 651' stroke-width='6' stroke='url(%23SvgjsLinearGradient1170)' stroke-linecap='round' class='Down' style='--rain-duration:1.23s'%3E%3C/path%3E%3Cpath d='M292 99L291 393' stroke-width='3' stroke='url(%23SvgjsLinearGradient1170)' stroke-linecap='round' class='Down' style='--rain-duration:1.11s'%3E%3C/path%3E%3C/g%3E%3Cdefs%3E%3Cmask id='SvgjsMask1169'%3E%3Crect width='1440' height='560' fill='%23ffffff'%3E%3C/rect%3E%3C/mask%3E%3ClinearGradient x1='0%25' y1='0%25' x2='0%25' y2='100%25' id='SvgjsLinearGradient1170'%3E%3Cstop stop-color='rgba(28, 83, 142, 0)' offset='0'%3E%3C/stop%3E%3Cstop stop-color='%231c538e' offset='1'%3E%3C/stop%3E%3C/linearGradient%3E%3ClinearGradient x1='0%25' y1='100%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient1171'%3E%3Cstop stop-color='rgba(28, 83, 142, 0)' offset='0'%3E%3C/stop%3E%3Cstop stop-color='%231c538e' offset='1'%3E%3C/stop%3E%3C/linearGradient%3E%3Cstyle%3E @keyframes float1 %7B 0%25%7Btransform: translateY(-80vh)%7D 100%25%7Btransform: translateY(100vh)%7D %7D .Down%7B animation: float1 var(--rain-duration) infinite; %7D %3C/style%3E%3C/defs%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}

.snow {
    background: white;
}

.sunny {
    background: yellow;
}

.clouds {
    background-image: url("../cloudy.svg");
    background-attachment: fixed;
    background-size: cover;
}
